@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Elms Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sniglet:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sour Gummy:wght@400;500;600;700&display=swap");

@media screen and (max-width: 1000px) {
	.adminBar {
		display: none !important;
	}

	.languageSelector {
		top: 80px !important;
		left: 10px !important;
	}

	.languageOptions {
		flex-direction: column;
	}

	.languageOptions span {
		min-width: unset;
		width: 100%;
	}

	header .ss-site-header-hero-container {
		flex-direction: column !important;
	}

	header .ss-site-header-hero-container {
		gap: 5px !important;
	}

	header .ss-site-header-title-container {
		text-align: center !important;
	}

	header .ss-site-header-mobile-menu {
		position: relative;
	}

	header .ss-site-header-hero-container {
		padding: 0 !important;
	}

	header .ss-site-header-mobile-menu button {
		padding: 15px 20px;
	}

	.ss-mobile-menu-schools {
		display: none !important;
	}

	.ss-site-header-main-links-container {
		order: unset !important;
	}

	.spotlight-slide-component:has(.spotlight-image-container) {
		aspect-ratio: auto !important;
		height: 100% !important;
	}

	.spotlight-image-container {
		aspect-ratio: auto !important;
	}

	.spotlight-text-container:not(.forceStyle) {
		border-radius: 0 !important;
		padding: 30px 20px 20px 20px !important;
	}

	.spotlight-nav-container {
		position: relative;
		background: #042450f0;
		height: fit-content;
		padding: 0 !important;
		aspect-ratio: auto !important;
		top: unset;
	}

	.spotlight-nav-options {
		position: relative;
		padding: 10px;
	}

	.spotlight-slide {
		justify-content: end;
	}

	.ss-im-icons-list {
		gap: 10px;
	}
}

:root {
	--blue: #042450 !important;
	--red: #740404 !important;
	--yellow: #f1c233 !important;
}

html * {
	--smart-sites-colors-link-blue: var(--site-design-link-color) !important;
	--site-design-link-color: var(--red) !important;
	--site-design-link-color-hover: var(--blue) !important;
	--ss-modal-content-alert-icon-background-color: var(--blue) !important;
	--ss-modal-content-alert-icon-background-border-color: var(
		--blue
	) !important;
	--ss-header-mobile-menu-search-icon-color: var(--blue);
	--ss-header-mobile-menu-text-color: var(--blue) !important;
	--ss-modal-font-hover-color: var(--red) !important;
	--ss-header-mobile-menu-highlight-background: transparent !important;
}

html[font="1"] * {
	--ss-nav-font-family: Montserrat, sans-serif !important;
	--ss-menu-font-family: Montserrat, sans-serif !important;
	--ss-site-name-font-family: Montserrat, sans-serif !important;
	--ss-utility-font-family: Montserrat, sans-serif !important;
	--ss-default-font-family: Montserrat, sans-serif !important;
}

html[font="2"] * {
	--ss-nav-font-family: Elms Sans, sans-serif !important;
	--ss-menu-font-family: Elms Sans, sans-serif !important;
	--ss-site-name-font-family: Elms Sans, sans-serif !important;
	--ss-utility-font-family: Elms Sans, sans-serif !important;
	--ss-default-font-family: Elms Sans, sans-serif !important;
}

html[font="3"] * {
	--ss-nav-font-family: Sniglet, sans-serif !important;
	--ss-menu-font-family: Sniglet, sans-serif !important;
	--ss-site-name-font-family: Sniglet, sans-serif !important;
	--ss-utility-font-family: Sniglet, sans-serif !important;
	--ss-default-font-family: Sniglet, sans-serif !important;
}

html[font="4"] * {
	--ss-nav-font-family: Sour Gummy, sans-serif !important;
	--ss-menu-font-family: Sour Gummy, sans-serif !important;
	--ss-site-name-font-family: Sour Gummy, sans-serif !important;
	--ss-utility-font-family: Sour Gummy, sans-serif !important;
	--ss-default-font-family: Sour Gummy, sans-serif !important;
}

html[font] {
	body:not(.customFont),
	h1:not(.customFont),
	h2:not(.customFont),
	h3:not(.customFont),
	h4:not(.customFont),
	h5:not(.customFont),
	h6:not(.customFont),
	p:not(.customFont),
	a:not(.customFont),
	span:not(.customFont),
	div:not(.customFont) {
		font-family: var(--ss-default-font-family) !important;
		word-spacing: -2px !important;
	}
}

.alert-badge.ss-button {
	background-color: var(--yellow);
}

.ss-alert-modal-svg-container {
	height: 100% !important;
	width: 100%;
	display: flex;
	align-items: start;
	justify-content: center;
}

.ss-alert-modal-svg-container svg {
	width: 75%;
	fill: #ffffff;
}

.partnerships {
	display: flex !important;
	flex-direction: row !important;
	justify-content: center !important;
	align-items: center !important;
	flex-wrap: wrap !important;
	gap: 20px 0 !important;
}

.partnerships img {
	height: fit-content !important;
	max-height: 75px !important;
	width: auto !important;
	border-radius: 5px !important;
}

body:has(.alert-badge:not(.active)) .ss-alert-modal-svg-container svg {
	display: none !important;
}

section.ss-has-bg .ss-component-header-title:only-child {
	padding: 0;
}

.ss-component-content .ss-one-column .ss-component-column:has(h3) {
	overflow: visible !important;
}

.ss-component-content .ss-one-column .ss-component-column h3 {
	margin-top: 0;
	margin-bottom: 0;
}

table p {
	margin: 5px;
}

li:has(> .anchor-plates) {
	width: fit-content !important;
}

.anchor-plates {
	width: fit-content !important;
}

.anchor-plates a {
	color: #ffffff !important;
	border-radius: 8px;
	padding-right: 1.2rem;
	width: fit-content !important;
}

.active .anchor-plates a {
	background-color: var(--site-design-link-color-hover) !important;
}

.active .anchor-plates a:hover {
	background-color: var(--site-design-link-color) !important;
}

.anchor-plates a:hover {
	background-color: var(--site-design-link-color-hover) !important;
}

.active .anchor-plates {
	user-select: none;
	pointer-events: none;
}

.anchor-plates a span {
	color: #ffffff;
	width: max-content;
}

:has(> .anchor-plates) {
	min-width: fit-content;
}

.breadcrumb > li {
	margin-right: 14px;
}

.breadcrumb > li span {
	top: calc(50% - 12px);
	transform: none;
	right: -12px;
	width: 8px;
}

.adminBar {
	height: fit-content;
	min-height: unset !important;
	display: flex;
	background: transparent !important;
	border: none;
	justify-content: center;
	position: fixed;
}

.adminBar > :first-child,
.adminBar span {
	display: none;
}

.psq_logged_in_bar a {
	padding: 5px;
	width: fit-content;
}

.adminBar > :last-child {
	width: fit-content;
	padding: 0px 2.5px;
	background: #ffffff;
	border-radius: 0 0 10px 10px;
}

.schools {
	display: none !important;
}

body:has(header:not(:hover)):has(.adminBar:not(:hover)) .adminBar {
	display: none;
}

.admin-btn1:hover {
	margin-top: 3px;
	margin-bottom: -3px;
}

:has(> .googleDropdownContainerTarget) {
	opacity: 0 !important;
	user-select: none;
	pointer-events: none;
}

.languageSelector {
	position: absolute;
	top: 30px;
	right: 0;
	width: calc(100vw - 40px);
	max-width: 500px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	background: #ffffff;
	border-radius: 10px;
	padding: 20px;
	overflow-y: scroll;
	transition: 0.25s;
	height: 100vh;
	max-height: 60vh;
	box-shadow: 0 5px 30px var(--blue);
}

.languageSelector:not(.active) {
	opacity: 0;
	height: 16px;
	transition: 0.25s;
	pointer-events: none;
	user-select: none;
}

.languageOptions {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	width: -webkit-fill-available;
}

.languageOptions span {
	background: var(--red);
	color: #ffffff !important;
	padding: 6px 9px;
	border-radius: 5px;
	cursor: pointer;
	min-width: calc(50% - 5px);
}

.languageOptions span:hover,
.languageOptions span.active {
	background: var(--blue);
}

.languageOptions span:first-child {
	width: 100%;
}

.languageOptions span:first-child::after {
	content: " (Default)";
}

#languageSearch {
	border: 1px solid var(--red);
	padding: 5px 10px;
	border-radius: 5px;
	word-spacing: -2px !important;
}

.skiptranslate {
	display: none !important;
}

body {
	top: 0px !important;
}

#goog-gt-tt,
#goog-gt-tt + div,
#goog-gt-tt + div + div {
	display: none !important;
}

.ss-site-header-main-nav-mobile * {
	color: #ffffff !important;
	fill: #ffffff !important;
}

.ss-site-header-mobile-menu * {
	stroke: #ffffff !important;
}

font {
	background-color: transparent !important;
	box-shadow: none !important;
}

.spotlight-text-container {
	border-radius: 10px;
	gap: 5px;
	padding: 30px 20px !important;
	background-color: #042450f0 !important;
	zoom: 0.9;
}

.spotlight-text-container * {
	color: #ffffff !important;
}

.spotlight-text-container p {
	margin: 0;
}

.ss-has-bg:has(hr.hr) {
	padding: 10px;
}

hr.hr {
	display: none;
}

.calendar-events-view-container h3 {
	margin-bottom: 10px !important;
}

header {
	max-width: unset !important;
	background: var(--blue);
}

header::before,
header::after,
.ss-site-header-page-links::before {
	content: unset !important;
}

header .ss-site-header-hero-container {
	gap: 25px !important;
}

header .ss-site-header-title-container {
	display: flex !important;
	text-decoration: none !important;
}

header .ss-site-header-title-container * {
	color: #ffffff !important;
}

html[font="2"] header .ss-site-header-school-name:not(.forceStyle) {
	word-spacing: -6px !important;
}

header .ss-site-header-school-tagline {
	font-family: Charm !important;
	font-size: 20px !important;
}

header .ss-site-header-main-nav > .ss-site-header-page-links {
	margin: unset !important;
	top: unset !important;
}

header nav {
	background: var(--red) !important;
	position: fixed !important;
	top: 0;
	left: 0;
	z-index: 10000;
	width: 100%;
}

header .top-nav {
	height: unset !important;
}

header .top-nav:hover {
	background: var(--blue);
}

header .top-nav .top-nav-link {
	margin: 0 !important;
	padding: 20px !important;
}

header .ss-site-header-main-links-container {
	position: relative !important;
	top: unset !important;
	right: unset !important;
}

header .ss-site-header-main-links-container > a {
	color: #ffffff !important;
	font-weight: bold;
}

header .ss-site-header-main-links-container > a:not(:last-of-type) {
	margin-right: 20px;
}

.spotlight-layout-medium
	.spotlight-slide-component:has(.spotlight-image-container) {
	background: var(--blue);
}

.stack-nav-edit-bar-cta .ss-admin-edit:link,
.stack-nav-edit-bar-cta .ss-admin-edit:visited {
	background: var(--blue) !important;
	border-color: var(--blue) !important;
}

.parallax-image {
	position: absolute;
	top: -50%;
	z-index: -1;
	min-height: 100vh;
}

#ss-header-mobile-menu .ss-mobile-menu-level-1 ul .ss-mobile-menu-level-2 ul {
	padding: 0 20px;
	margin-top: 5px !important;
}

main > .row:has(.breadcrumb) {
	width: 100vw;
	position: absolute;
	left: 0;
}