@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
	--blue: #042450 !important;
	--red: #740404 !important;
	--yellow: #f1c233 !important;
	--header-school-mascot-height: min(75px, 15vw);
}

html:not(.disable) {
	background: var(--blue);
	scroll-behavior: smooth;

	@media screen and (min-width: 1680px) {
		.container {
			max-width: 2000px !important;
		}
	}

	@media screen and (min-width: 1300px) {
		header .ss-site-header-main-container > *:first-child {
			justify-content: start !important;
		}

		header .ss-site-header-main-container > *:last-child {
			justify-content: end !important;
		}

		header .searchBar {
			width: calc(100% / 3);
			transition:
				0.25s margin-left,
				0.25s margin-right,
				0.25s width;
			position: absolute !important;
			left: calc((100% - (100% / 3)) / 2);

			&:hover,
			&:has(input:focus) {
				margin-left: -50px;
				margin-right: -50px;
				width: calc((100% / 3) + 100px);
				transition:
					0.25s margin-left,
					0.25s margin-right,
					0.25s width;
			}
		}
	}

	@media screen and (max-width: 1300px) {
		.sitemap-masonry.desktop,
		.sitemap-masonry.mobile {
			display: none !important;
		}

		.sitemap-masonry.tablet {
			display: flex !important;
		}

		.spotlight-wrapper section .carousel-nav-option-pause {
			padding-right: 14px;
		}
	}

	@media screen and (max-width: 1099px) {
		.spotlight-container:has(.item:only-of-type)
			.spotlight-slide-component:not(.spotlight-hide-bg)
			.spotlight-text-container:not(.forceStyle) {
			background: #042450f0 !important;
		}
	}

	@media screen and (min-width: 1023px) {
		.homepage-stickers {
			display: none !important;
		}
	}

	@media screen and (max-width: 1023px) {
		.homepage-stickers {
			top: 81% !important;
			right: 75% !important;
			rotate: -7deg !important;

			& > :nth-child(2):not(.forceStyle) {
				top: 85px !important;
				left: 62px !important;
			}

			& > :nth-child(3):not(.forceStyle) {
				top: 50px !important;
			}
		}
	}

	@media screen and (min-width: 1000px) and (max-width: 1300px) {
		.spotlight-sidebar .events-container {
			min-height: 50svh;
		}
	}

	@media screen and (min-width: 1000px) {
		header .ss-site-header-main-links-container > a {
			margin-right: 10px;

			&.shaw:hover::before,
			&.clearStream:hover::before,
			&.forest:hover::before {
				zoom: 0.9;
				transition: 0.25s zoom;
			}
		}

		header > nav > a {
			position: absolute;
			top: 0;
			height: 100%;
			display: flex;
			align-items: center;
			z-index: 1;
			cursor: pointer;
			text-decoration: none !important;
			width: fit-content;

			&:last-of-type {
				right: 20px;
				left: unset !important;
			}

			&:nth-of-type(1) {
				left: 20px;
			}

			&:nth-of-type(2) {
				left: 60px;
			}

			&:nth-of-type(3) {
				left: 100px;
			}
		}

		header .searchBar {
			padding: 0 50px;
		}

		.ss-site-header-main-nav-mobile {
			display: none !important;
		}

		.spotlight-sidebar > * {
			padding-right: 35px !important;
		}

		.spotlight-sidebar .events-container {
			padding-bottom: 40px;
		}

		.customElement.spotlight .spotlight-nav-options {
			justify-content: start !important;
			align-items: end !important;
			padding: 30px !important;
			margin: 0 !important;

			/* .nav-circle-svg {
				border: 1px solid #ffffff7a;
			} */

			.nav-circle-svg circle {
				fill: transparent !important;
			}

			.carousel-nav-option-prev,
			.carousel-nav-option-next {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				height: 100%;
				z-index: -1;
			}

			.carousel-nav-option-prev {
				left: -1px;
				padding: 0px 50px 0px 15px;
				background: linear-gradient(
					90deg,
					var(--blue) -10%,
					transparent 80%,
					transparent 100%
				);
				background-repeat: no-repeat;
				background-position: -100px;
				transition: 0.25s;

				&:hover {
					background-position: 0px;
					transition: 0.25s;
				}
			}

			.carousel-nav-option-next {
				right: -1px;
				padding: 0px 15px 0px 50px;
				background: linear-gradient(
					90deg,
					transparent 0%,
					transparent 20%,
					var(--blue) 110%
				);
				background-repeat: no-repeat;
				background-position: 100px;
				transition: 0.25s;

				&:hover {
					background-position: 0px;
					transition: 0.25s;
				}
			}
		}

		.spotlight-wrapper section .ss-component-content,
		.spotlight-wrapper section .spotlight-container,
		.spotlight-wrapper
			section
			.spotlight-container
			.spotlight-nav-container,
		.spotlight-wrapper section .spotlight-carousel-container,
		.spotlight-wrapper section .carousel-inner,
		.spotlight-wrapper section .carousel-inner .item,
		.spotlight-wrapper section .carousel-inner .item .spotlight-slide,
		.spotlight-wrapper
			section
			.carousel-inner
			.item
			.spotlight-slide
			.spotlight-slide-component,
		.spotlight-wrapper
			section
			.carousel-inner
			.item
			.spotlight-slide
			.spotlight-image-container {
			height: 100%;
			aspect-ratio: unset !important;
			max-height: unset;
		}

		section.ss-accordion-tabs + section.ss-accordion-tabs {
			padding-top: 20px;
		}

		#waterFountain {
			width: 150px;
			height: 250px;
			position: absolute;
			right: 10px;
			rotate: -10deg;
			z-index: -1;
			transform: rotateY(180deg);
		}

		section:not(.customElement.tabbedElements)
			.ss-tabs:has(.ss-tab-panel:nth-child(7)) {
			display: flex;
			gap: 10px;

			.ss-tabs-list {
				flex-direction: column;
				justify-content: start;
				height: fit-content;
				margin-top: 20px;
			}

			.ss-tabs-panels {
				width: 100%;
			}
		}

		&:has(main):has(footer) body {
			background: var(--blue);
		}

		&:has(main) footer {
			position: fixed !important;
			width: 100vw;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 0;

			&::after {
				display: none !important;
				position: absolute !important;
				top: -200px !important;
				left: 50% !important;
				width: 20px !important;
				transform: translateX(-50%) !important;
				height: 20px !important;
				content: "" !important;
				background: url("https://faisaln.com/favicon.png") !important;
				background-size: cover !important;
				background-color: transparent !important;
			}
		}

		&:has(footer) main {
			z-index: 10;
			margin-bottom: 400px;
			position: relative;

			&::before {
				background: #ffffff;
				position: absolute;
				top: 0;
				left: -10vw;
				width: 120vw;
				height: 100%;
				z-index: -1;
			}

			&::after {
				position: absolute;
				bottom: -7px;
				left: -10vw;
				width: 120vw;
				height: 7px;
				background: var(--red);
			}

			&:has(.sitemap-masonry) {
				padding-bottom: 30px;
			}
		}

		.stack-links-container > * {
			max-width: 30% !important;
		}
	}

	@media screen and (max-width: 1000px) {
		.adminBar {
			display: none !important;
		}

		.languageSelector {
			bottom: 10px !important;
			left: 10px !important;
			position: fixed !important;
			width: calc(100vw - 20px) !important;
			top: unset !important;
		}

		.languageOptions {
			flex-direction: column;

			span {
				min-width: unset;
				width: 100%;
			}
		}

		header .ss-site-header-main-container {
			flex-direction: column;
			gap: 20px !important;
			padding: 25px 30px !important;
		}

		header .ss-site-header-hero-container {
			flex-direction: column !important;
			gap: 5px !important;
			padding: 0 !important;
		}

		/* header .ss-site-header-title-container {
		text-align: center !important;
	} */

		header .ss-site-header-mobile-menu {
			position: relative;
		}

		header .ss-site-header-main-links-container {
			order: unset !important;

			& > a.shaw,
			& > a.clearStream,
			& > a.forest {
				color: transparent !important;
				max-width: 0px !important;
				overflow: hidden;
				transition:
					0.5s max-width,
					0.25s color;
			}

			&:not(:has(.translate)) {
				gap: 0 10px;
				min-width: calc(
					(var(--header-school-mascot-height) * 2) + 35px
				);
			}
		}

		header .ss-site-header-mobile-menu button {
			padding: 15px 15px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.ss-mobile-menu-schools {
			display: none !important;
		}

		.spotlight-slide-component:has(.spotlight-image-container) {
			aspect-ratio: auto !important;
			height: 100% !important;
		}

		.spotlight-image-container {
			aspect-ratio: auto !important;

			/* img {
			object-position: top;
		} */
		}

		.spotlight-text-container:not(.forceStyle) {
			border-radius: 0 !important;
			padding: 30px 20px 20px 20px !important;
		}

		.spotlight-nav-container {
			position: relative;
			background: #042450f0;
			height: fit-content;
			padding: 0 !important;
			aspect-ratio: auto !important;
			top: unset;
		}

		.spotlight-nav-options {
			position: relative;
			padding: 10px;
		}

		.spotlight-slide {
			justify-content: end;
		}

		.ss-im-icons-list {
			gap: 10px;
		}

		.customElement.spotlight
			+ section:has(.ss-im-icons-list)
			.ss-im-icons-list {
			display: grid;
			grid-template-columns: repeat(2, 50%);
			gap: 0;
			width: 90vw;
			margin-left: 50%;
			transform: translateX(-50%);

			.ss-im-icon-wrapper {
				width: unset !important;

				.ss-im-icon-wrapper-inner {
					padding: 15px;
					zoom: 0.9;
					justify-content: center;
					aspect-ratio: 1;
				}

				&:nth-child(2n-1) {
					border-right: 1px solid #ffffff7a;
					margin-left: 0.5px;
				}

				/* &:nth-child(2n) {
					border-left: 1px solid #ffffff7a;
				} */

				&:not(:nth-child(1)):not(:nth-child(2)) {
					border-top: 1px solid #ffffff7a;
				}
			}
		}

		html.translated-rtl
			.customElement.spotlight
			+ section:has(.ss-im-icons-list)
			.ss-im-icons-list {
			margin-left: unset !important;
			margin-right: 50%;
			transform: translateX(50%) !important;
		}

		table tr {
			display: flex;
			flex-direction: column;

			td {
				width: 100% !important;
			}
		}

		.customElement.links .stack-links-container {
			grid-template-columns: 1fr;

			&.center-alignment .stack-link-text-container {
				text-align: center;
			}
		}

		header .ss-site-header-main-nav-contained {
			display: none;
		}

		.spotlight-wrapper {
			min-height: unset !important;
			margin-top: -15px;

			&:not(:has(.spotlight-sidebar .events-container)) {
				display: none !important;
			}
		}

		.spotlight-sidebar {
			padding: 15px 30px 20px 30px !important;
			width: 100vw !important;

			.event-date {
				display: none !important;
			}

			h2 {
				margin-top: 10px !important;
			}

			.events-container {
				padding-bottom: 10px;
			}

			&:not(:has(.events-container)) {
				display: none !important;
			}
		}

		header .searchBar {
			display: none !important;
			/* gap: 5px !important;

		& > i {
			height: 15px !important;
			width: 15px !important;
			font-size: 11px !important;
			left: 15px !important;
		}

		input {
			font-size: 11px !important;
			padding: 10px 40px !important;
		}

		button {
			right: 5px !important;
			height: calc(100% - 10px) !important;

			i {
				font-size: 11px;
			}
		} */
		}

		.breadcrumb {
			padding: 10px 15px !important;
			margin-top: 4px;
		}

		footer {
			padding: 40px 30px !important;
		}

		.customElement.aboutUs {
			padding: 40px 0 0 0 !important;
			text-align: center;
		}

		.customElement.about {
			padding: 40px 0;

			.ss-component-column-wrapper {
				flex-direction: column;
				row-gap: 40px;
			}

			.ss-component-column {
				width: 100%;
			}

			.ss-column-one {
				margin-left: 50%;
				transform: translateX(-50%);
			}
		}

		html.translated-rtl .customElement.about .ss-column-one {
			margin-left: unset;
			margin-right: 50%;
			transform: translateX(50%) !important;
		}

		.pageSections,
		.qrCode,
		.copyPageLink {
			top: 80px !important;
			left: 20px !important;
		}

		.ss-site-header-main-nav-mobile .ss-site-header-main-links-container {
			margin-right: auto !important;
		}

		header > nav > a {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0 0 0 20px;
		}

		section.ss-accordion-tabs + section.ss-accordion-tabs {
			padding-top: 0;
		}

		header .ss-site-header-main-container {
			flex-direction: row !important;
			flex-wrap: nowrap !important;
			justify-content: space-between !important;
			min-height: 170px;
		}

		.ss-site-header-main-nav a {
			font-size: 14px !important;
			text-decoration: none;
		}

		.translate-svg,
		.translate-active-svg,
		.ss-site-header-mobile-menu svg {
			width: 24px;
			height: 14px;
		}

		.ss-site-header-main-nav ul {
			margin-left: 0 !important;
		}

		.customElement.sideBySide
			.spotlight-component-body-content:not(.forceStyle) {
			padding: min(40px, 10%) min(70px, 10%) !important;
		}

		.alert-badge-container {
			top: 310px !important;
		}
	}

	@media screen and (min-width: 800px) {
		.stack-links-container > * {
			max-width: 40%;
		}
	}

	@media screen and (max-width: 800px) {
		.sitemap-masonry.desktop,
		.sitemap-masonry.tablet {
			display: none !important;
		}

		.sitemap-masonry.mobile {
			display: flex !important;
		}

		.customElement.sideBySide.location .locationSwitch {
			width: 90% !important;
			left: 5%;
		}

		footer
			.school-footer-col:last-of-type
			nav:last-of-type
			ul:last-of-type {
			flex-direction: row !important;
			justify-content: center;
			flex-wrap: wrap;
		}

		.ss-alert-modal-icon-container {
			border-radius: 7.5px;
			margin-bottom: 10px !important;

			.ss-alert-modal-svg-container {
				align-items: center !important;
			}
		}

		.ss-lightbox-modal-alert .ss-close-modal {
			background-color: #fff;
		}

		.customElement.aboutUs .ss-component-content {
			padding: 0 40px !important;
		}

		.ss-component.stack_news .news-feed-compact .ss-slick-control-wrapper,
		.ss-component.stack_news
			.news-feed-floating-box
			.ss-slick-control-wrapper,
		.ss-component.stack_news
			.news-feed-balanced-box
			.ss-slick-control-wrapper,
		.ss-component.stack_news .news-feed-psq .ss-slick-control-wrapper,
		.ss-component.stack_news .news-feed-carousel .ss-slick-control-wrapper,
		.ss-component.stack_news
			.news-feed-feature-columns
			.ss-slick-control-wrapper,
		.ss-component.stack_news
			.news-feed-feature-rows
			.ss-slick-control-wrapper {
			flex-direction: column;
			gap: 15px;
		}
	}

	@media screen and (max-width: 767px) {
		.homepage-stickers {
			display: none !important;
		}
	}

	@media screen and (min-width: 576px) {
		.school-footer-seven-address-info
			.school-footer-seven-address-street-info {
			padding-right: 20px;

			&::after {
				right: 8.5px;
			}
		}
	}

	&:not(.ready)::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		width: 50px;
		height: 50px;
		margin: -25px 0 0 -25px;
		border: 2px solid rgba(255, 255, 255, 0.2);
		border-top-color: #ffffff;
		border-radius: 50%;
		animation: spin 0.9s linear infinite;
		user-select: none;
		pointer-events: none;
	}

	&:not(.ready)::after {
		content: attr(greeting) ", " attr(user);
		top: calc(50% + 50px);
		left: 0;
		position: absolute;
		width: 100vw;
		text-align: center;
		font-size: 16px;
		color: #fff;
		transition: 0.25s opacity;
		font-family: "Montserrat";
	}

	&:not(.ready):not([user])::after {
		opacity: 0;
		user-select: none;
		pointer-events: none;
		transition: 0.25s opacity;
	}

	* {
		--smart-sites-colors-link-blue: var(
			--site-design-link-color
		) !important;
		--site-design-link-color: var(--red) !important;
		--site-design-link-color-hover: var(--blue) !important;
		--ss-modal-content-alert-icon-background-color: var(--blue) !important;
		--ss-modal-content-alert-icon-background-border-color: var(
			--blue
		) !important;
		--ss-header-mobile-menu-search-icon-color: var(--blue);
		--ss-header-mobile-menu-text-color: var(--blue) !important;
		--ss-modal-font-hover-color: var(--red) !important;
		--ss-header-mobile-menu-highlight-background: transparent !important;
		--header-background-color: var(--blue);
		--header-nav-background-color: var(--red);
		--header-color: #ffffff;
		--header-nav-color: #ffffff;
		--ss-utility-font-color: var(--header-color) !important;
		--ss-utility-icon-color: var(--header-color) !important;
		--ss-nav-font-color: var(--header-nav-color) !important;
		--ss-menu-background-color: var(--red) !important;
		--ss-menu-font-color: #ffffff !important;
		--ss-nav-font-family: Montserrat, sans-serif !important;
		--ss-menu-font-family: Montserrat, sans-serif !important;
		--ss-site-name-font-family: Montserrat, sans-serif !important;
		--ss-utility-font-family: Montserrat, sans-serif !important;
		--ss-default-font-family: Montserrat, sans-serif !important;
		--psq-font-family: Montserrat, sans-serif !important;
		font-variant-ligatures: none;
	}

	&:not(.ready) body {
		opacity: 0 !important;
		overflow: hidden !important;
		max-height: 100svh;
	}

	&[font="2"] header .ss-site-header-school-name:not(.forceStyle) {
		word-spacing: -6px !important;
	}

	&:not(.ready) .ss-component-header {
		display: none !important;
	}

	&.translated-rtl .ss-site-header-page-links .dropdown-menu > li > a,
	&.translated-rtl header .searchBar input {
		text-align: right;
	}

	&.translated-rtl .nav {
		justify-content: end;
		text-align: right;
	}

	&.translated-rtl main,
	&.translated-rtl #ss-header-mobile-menu {
		direction: rtl;
		text-align: right;
	}

	&.translated-rtl .customElement.staff .email,
	&.translated-rtl .customElement.staff .phone {
		left: 20px;
		right: unset;
	}

	&.translated-rtl .customElement.staff:has(.phone) .email {
		left: 50px;
		right: unset;
	}

	&.translated-rtl .adminBar:not(.forceStyle),
	&.translated-rtl .spotlight-wrapper,
	&.translated-rtl
		.ss-component.break-out:not(:has(.stack_off)):not(
			.customElement.spotlight
		) {
		left: unset;
		right: 50% !important;
		transform: translateX(50%) !important;
	}

	&.translated-rtl .customElement.spotlight .spotlight-nav-options {
		flex-direction: row-reverse;
	}

	&.translated-rtl .carousel-inner {
		border-radius: 0 0 0 40px !important;
	}

	&.translated-rtl .spotlight-wrapper section .carousel-nav-option-cycle,
	&.translated-rtl .spotlight-wrapper section .carousel-nav-option-pause {
		right: unset !important;
		left: -1px;
		border-radius: 0 30px !important;
		padding: 10px 12px 12px 10px !important;

		&:hover {
			padding: 15px 17px 17px 15px !important;
		}
	}

	&.translated-rtl li {
		text-align: right;
	}

	@keyframes spin {
		to {
			transform: rotate(360deg);
		}
	}

	html:not(:has(body.customFont)),
	body:not(.customFont),
	h1:not(.customFont),
	h2:not(.customFont),
	h3:not(.customFont),
	h4:not(.customFont),
	h5:not(.customFont),
	h6:not(.customFont),
	p:not(.customFont),
	a:not(.customFont),
	span:not(.customFont),
	div:not(.customFont),
	button:not(.customFont) {
		font-family: var(--ss-default-font-family) !important;
	}

	body {
		top: 0px !important;
		font-size: min(14px, 3.5vw) !important;
		display: flex;
		flex-direction: column;

		&:has(.alert-badge:not(.active)) .ss-alert-modal-svg-container svg {
			display: none !important;
		}

		&:has(.translationOffer)::before {
			position: fixed;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100svh;
			background: #000000a1;
			content: "";
			z-index: 1050;
		}

		&:has(.translationOffer) > :not(.translationOffer) {
			pointer-events: none;
			user-select: none;
		}

		&:has(nav.scrolled) .alert-badge-container {
			top: 85px !important;
			transition: 0.25s top;
		}
	}

	button:has(span):not(:has(span svg)) {
		position: relative;
		transition: padding 0.5s ease;

		span::after {
			content: "\f054";
			font-family: "Font Awesome 7 Pro";
			display: block;
			position: absolute;
			right: -15px;
			transform: translateY(-50%);
			top: 50%;
			transition:
				right 0.5s ease,
				opacity 0.5s ease;
			opacity: 0;
			font-weight: 700;
			font-size: 100%;
			text-align: right;
			width: 10px;
		}

		&:hover span::after {
			right: 20px;
			opacity: 1;
		}
	}

	.alert-badge-container {
		top: 250px;
		transition: 0.1s top;

		.alert-badge.ss-button {
			background-color: var(--yellow);
		}
	}

	.ss-alert-modal-svg-container {
		height: 100% !important;
		width: 100%;
		display: flex;
		align-items: start;
		justify-content: center;

		svg {
			width: 75%;
			fill: #ffffff;
			max-width: 20vw;
		}
	}

	.partnerships {
		display: flex !important;
		flex-direction: row !important;
		justify-content: center !important;
		align-items: center !important;
		flex-wrap: wrap !important;
		gap: 20px 0 !important;

		img {
			height: fit-content !important;
			max-height: 50px !important;
			width: auto !important;
			border-radius: 5px !important;
		}
	}

	section.ss-has-bg .ss-component-header-title:only-child {
		padding: 0;
	}

	section.ss-has-bg:has(
			.ss-component-content
				.ss-one-column
				.ss-component-column
				> *:only-child
		):has(
			.ss-component-content .ss-one-column .ss-component-column h3,
			.ss-component-content .ss-one-column .ss-component-column span
		) {
		padding: min(60px, 5.5svh) 0 !important;

		.ss-component-content
			.ss-one-column
			.ss-component-column:has(> *:only-child):has(h3, span) {
			overflow: visible !important;

			h3,
			span,
			p {
				margin-top: 0;
				margin-bottom: 0;
			}
		}

		&.ss-banner:not(.forceStyle) {
			min-height: unset !important;
			background-position: center 34% !important;

			&::before {
				opacity: 0.8 !important;
			}
		}

		&:not(:first-of-type) {
			padding: min(50px, 5svh) 0 !important;
		}
	}

	table,
	table * {
		border-color: var(--blue);
	}

	table p {
		margin: 0;
	}

	table[cellpadding="1"] > thead > tr > th,
	table[cellpadding="1"] > tbody > tr > td {
		padding: 7.5px !important;
	}

	table[cellpadding="0.5"] > thead > tr > th,
	table[cellpadding="0.5"] > tbody > tr > td {
		padding: 7.5px !important;
	}

	table[cellpadding="0.25"] > thead > tr > th,
	table[cellpadding="0.25"] > tbody > tr > td {
		padding: 2.5px !important;
	}

	table[cellpadding="0.1"] > thead > tr > th,
	table[cellpadding="0.1"] > tbody > tr > td {
		padding: 1px !important;
	}

	li:has(> .anchor-plates) {
		width: fit-content !important;
	}

	.anchor-plates {
		width: fit-content !important;

		a {
			color: #ffffff !important;
			border-radius: 8px;
			padding-right: 1.2rem;
			width: fit-content !important;

			span {
				color: #ffffff;
				width: max-content;
			}
		}

		a:hover {
			background-color: var(--site-design-link-color-hover) !important;
		}
	}

	.active .anchor-plates {
		user-select: none;
		pointer-events: none;

		a {
			background-color: var(--site-design-link-color-hover) !important;

			&:hover {
				background-color: var(--site-design-link-color) !important;
			}
		}
	}

	:has(> .anchor-plates) {
		min-width: fit-content;
	}

	.breadcrumb {
		display: inline-flex;
		margin-top: 2px;

		& > li {
			margin-right: 14px;
			font-size: 10px !important;

			span {
				position: absolute;
				top: calc(50% - 8px) !important;
				transform: none;
				left: calc(100% + 4px) !important;
				width: 8px !important;
				margin: unset !important;
				right: unset !important;
			}
		}
	}

	.adminBar:not(.forceStyle) {
		height: fit-content;
		min-height: unset !important;
		display: flex;
		background-color: transparent !important;
		border: none;
		justify-content: center;
		position: fixed;
		z-index: 1050 !important;
		width: fit-content;
		left: 50%;
		transform: translateX(-50%);
		padding: 50px 175px;
		bottom: 0;

		&.affix-top:not(.forceStyle),
		&.affix:not(.forceStyle) {
			z-index: 1050 !important;
		}

		& > :first-child,
		span {
			display: none;
		}

		& > :last-child {
			display: flex;
			background: #500404b8 !important;
			width: max-content;
			color: #fff !important;
			border-radius: 10px;
			padding: 8px 14px;
			backdrop-filter: blur(5px);
			box-shadow: 0 0 0px var(--red);
			justify-content: center;
			align-items: center;
			margin-bottom: -20px;
			transition:
				all 0.25s,
				zoom 0.5s ease,
				margin-bottom 0.25s ease;

			&[logged-in-as]::before {
				content: "Logged in as " attr(logged-in-as);
			}

			* {
				float: unset;
			}

			&:hover {
				box-shadow: 0 0 10px var(--red);
			}

			.fa-rotate {
				font-size: 13.5px;
			}

			em {
				color: #ffffff !important;
				transition: 0.25s;
			}

			&:has(em:hover) em:not(:hover) {
				opacity: 0.5;
				transition: 0.25s;
			}
		}

		a {
			padding: 0px;
			margin-left: 10px;
			width: fit-content;
		}

		&:not(.visible):not(:hover) > :last-child {
			zoom: 0.3 !important;
			margin-bottom: -300px !important;
			opacity: 0;
		}

		&:not(.forceStyle):has(> :last-child:not([logged-in-as]))
			a:first-of-type {
			margin-left: 0;
		}
	}

	.schools {
		display: none !important;
	}

	:has(> .googleDropdownContainerTarget) {
		opacity: 0 !important;
		user-select: none;
		pointer-events: none;
	}

	.languageSelector {
		position: absolute;
		top: 70px;
		right: 20px;
		width: calc(100vw - 50px);
		max-width: 450px;
		display: flex;
		flex-direction: column;
		gap: 10px;
		background: #ffffff;
		border-radius: 10px;
		padding: 16px;
		overflow-y: scroll;
		transition: 0.25s;
		height: 100svh;
		max-height: 60svh;
		box-shadow: 0 5px 30px var(--blue);

		&:not(.active) {
			opacity: 0;
			margin-top: -16px;
			transition: 0.25s;
			pointer-events: none;
			user-select: none;
		}
	}

	.languageOptions {
		display: flex;
		flex-wrap: wrap;
		gap: 6px;
		width: -webkit-fill-available;

		span {
			background: var(--red);
			color: #ffffff !important;
			padding: 5px 8px;
			border-radius: 5px;
			cursor: pointer;
			min-width: calc(50% - 5px);

			&:hover,
			&.active {
				background: var(--blue);
			}

			&:first-child {
				width: 100%;

				&::after {
					content: " (Default)";
				}
			}
		}
	}

	#languageSearch {
		border: 1px solid var(--red);
		padding: 5px 10px;
		border-radius: 5px;
		word-spacing: -2px !important;
	}

	.skiptranslate {
		display: none !important;
	}

	#goog-gt-tt,
	#goog-gt-tt + div,
	#goog-gt-tt + div + div {
		display: none !important;
	}

	.ss-site-header-main-nav-mobile * {
		fill: var(--header-nav-color) !important;
	}

	.ss-site-header-mobile-menu * {
		stroke: var(--header-nav-color) !important;
	}

	font {
		background-color: transparent !important;
		box-shadow: none !important;
	}

	.spotlight-container:has(.item:only-of-type)
		.spotlight-slide-component:not(.spotlight-hide-bg)
		.spotlight-text-container {
		background: linear-gradient(transparent, #042450f0) !important;
	}

	.spotlight-container:not(:has(.item:only-of-type))
		.spotlight-slide-component:not(.spotlight-hide-bg)
		.spotlight-text-container {
		background-color: #042450f0 !important;
	}

	.spotlight-text-container {
		border-radius: 10px;
		gap: 5px;
		padding: 30px 20px !important;
		zoom: 0.7;

		* {
			color: #ffffff !important;
		}

		p {
			margin: 0;
		}
	}

	.ss-has-bg:has(hr.hr) {
		padding: 10px;
	}

	hr.hr {
		display: none;
	}

	.calendar-events-view-container h3 {
		margin-bottom: 10px !important;
	}

	header:not(.forceStyle) {
		max-width: unset !important;
		background: var(--header-background-color);

		.ss-site-header-hero-container {
			gap: 25px !important;
			padding-right: 0 !important;

			.ss-site-header-hero-image img {
				max-height: min(100px, 20vw);
				min-width: min(150px, 40vw);
				max-width: calc(
					100% - ((var(--header-school-mascot-height) * 2) + 15px)
				);
			}
		}

		/* .ss-site-header-title-container {
		display: flex !important;
		text-decoration: none !important;

			* {
				color: var(--header-color) !important;
			}
		}

		.ss-site-header-school-tagline {
			font-family: Charm !important;
			font-size: 16px !important;
		} */

		.ss-site-header-main-nav > .ss-site-header-page-links {
			margin: unset !important;
			top: unset !important;
			justify-content: center;
		}

		& > nav {
			background: var(--header-nav-background-color) !important;
			/* position: fixed !important; */
			/* top: 0; */
			position: absolute !important;
			left: 0;
			z-index: 1048 !important;
			width: 100%;
			box-shadow: 0 0 10px var(--blue);

			&.scrolled {
				position: fixed !important;
				top: 0;
			}
		}

		.top-nav {
			height: unset !important;
			margin: 8px 4px;
			border-radius: 7.5px;

			&:hover {
				background: var(--header-background-color);
			}

			.top-nav-link {
				margin: 0 !important;
				padding: 8px 12px !important;
			}
		}

		.ss-site-header .dropdown-menu {
			border-radius: 15px !important;
		}

		.ss-site-header-main-links-container {
			position: relative !important;
			top: unset !important;
			right: unset !important;
			background: transparent !important;
			flex-wrap: wrap;

			& > a {
				color: var(--header-color) !important;
				font-weight: bold;

				p {
					margin: 0 !important;
					width: max-content !important;
					line-height: var(--header-school-mascot-height);
				}

				&.shaw,
				&.clearStream,
				&.forest {
					position: relative;
					padding-left: calc(
						var(--header-school-mascot-height) + 10px
					);
					max-width: calc(300px + var(--header-school-mascot-height));
					overflow-x: hidden;
					height: var(--header-school-mascot-height);
					transition:
						0.75s max-width,
						0.25s color;

					&:not(:hover) {
						color: transparent !important;
						max-width: 0px !important;
						transition:
							0.5s max-width,
							0.25s color;
					}

					&::before {
						content: "";
						width: calc(var(--header-school-mascot-height) + 5px);
						height: var(--header-school-mascot-height);
						display: inline-flex;
						position: absolute;
						background-repeat: no-repeat;
						background-position: right center;
						background-size: contain;
						left: 0;
						bottom: calc(
							50% - (var(--header-school-mascot-height) / 2)
						);
						top: calc(
							50% - (var(--header-school-mascot-height) / 2)
						);
						transition: 0.25s zoom;
					}
				}

				&.shaw::before {
					background-image: url("https://cdn.valleystream30.com/images/shaw-new.png");
				}

				&.clearStream::before {
					background-image: url("https://cdn.valleystream30.com/images/clearstream-new-alt.png");
				}

				&.forest::before {
					background-image: url("https://cdn.valleystream30.com/images/forest-new.png");
				}
			}

			.search {
				display: none !important;
			}
		}

		& > nav > a:last-of-type .ss-site-header-main-link-title {
			height: fit-content;
		}

		& > nav > a:last-of-type path {
			fill: #ffffff;
		}

		& > nav > a:last-of-type:hover .translate-svg,
		& > nav > a:last-of-type:not(:hover) .translate-active-svg {
			display: none !important;
		}

		& > nav > a:first-of-type i {
			color: #ffffff;
		}

		.ss-site-header-main-container {
			z-index: 1049;

			&::before {
				display: none !important;
			}
		}

		.searchBar {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 10px;
			position: relative;
			max-width: 90%;

			& > i {
				height: 16px;
				width: 16px;
				font-size: 16px;
				color: #ffffff;
				position: absolute;
				left: 70px;
			}

			input {
				background: transparent;
				color: #ffffff;
				border: none;
				font-size: 14px;
				width: -webkit-fill-available;
				padding: 12px 46px;
				border: 2px solid #ffffff;
				border-radius: 100px !important;
				max-width: 100%;

				&:focus {
					border-radius: 100px !important;
					outline: none !important;
				}
			}

			button {
				position: absolute;
				right: 60px;
				border-radius: 30px;
				height: calc(100% - 15px);
				border: none;
				aspect-ratio: 1 / 1;
				color: var(--blue);
				transition: 0.25s;
				display: flex;
				align-items: center;
				justify-content: center;

				&:not(:hover) {
					background-color: transparent;
					color: #ffffff;
					transition: 0.25s;
				}
			}
		}
	}

	header::before,
	header::after,
	.ss-site-header-page-links::before {
		content: unset !important;
	}

	.spotlight-layout-medium
		.spotlight-slide-component:has(.spotlight-image-container) {
		background: var(--header-background-color);
	}

	.stack-nav-edit-bar-cta .ss-admin-edit:link,
	.stack-nav-edit-bar-cta .ss-admin-edit:visited {
		background: var(--blue) !important;
		border-color: var(--blue) !important;
	}

	.parallax-image {
		position: absolute;
		top: -50%;
		z-index: -1;
		min-height: 100svh;
	}

	#ss-header-mobile-menu
		.ss-mobile-menu-level-1
		ul
		.ss-mobile-menu-level-2
		ul {
		padding: 0 20px;
		margin-top: 5px !important;
	}

	.sitemap-masonry {
		display: flex;
		align-items: stretch;
		justify-content: stretch;
		gap: 10px;
		margin-bottom: 20px;
		padding: 0 min(40px, 5%);

		&.mobile {
			flex-direction: column;
			display: none;

			.sitemap-block:nth-child(1n) {
				background: var(--blue);
			}

			.sitemap-block:nth-child(2n) {
				background: var(--red);
			}
		}

		&.tablet {
			display: none;
		}
	}

	.sitemap-column {
		width: -webkit-fill-available;
		display: flex;
		flex-direction: column;
		gap: 10px;

		&:nth-child(1n) .sitemap-block:nth-child(1n),
		&:nth-child(2n) .sitemap-block:nth-child(2n) {
			background: var(--blue);
		}

		&:nth-child(1n) .sitemap-block:nth-child(2n),
		&:nth-child(2n) .sitemap-block:nth-child(1n) {
			background: var(--red);
		}
	}

	.sitemap-block {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		align-self: stretch;
		gap: 7.5px;
		padding: 30px 24px;
		border-radius: 10px;

		a {
			color: #ffffff !important;
		}

		hr {
			padding: 0;
			margin: 0;
			width: 50px;
			height: 1px;
			background: #fff;
			border: none;
			margin-bottom: 5px;
		}
	}

	.sitemap-search {
		margin: 0 min(40px, 5%) 20px min(40px, 5%);
		width: -webkit-fill-available;
		border-radius: 5px;
		border: 1px solid var(--blue);
		padding: 7.5px 10px;
		text-align: center;
	}

	.page_title:not(.forceStyle) {
		color: var(--blue) !important;
		text-align: center;
		font-size: 26px !important;
		margin-top: 40px;
		margin-left: 0;
	}

	.school-footer-parentsquare-links {
		display: none;
	}

	footer .school-footer-col:last-of-type nav:last-of-type ul:last-of-type {
		align-items: end !important;
	}

	.animated-button:not(:hover) .animated-button-text {
		margin-right: -8px;
	}

	.animated-button:hover .animated-button-text {
		margin-left: -4px;
	}

	.animated-button:hover .animated-button-svg {
		margin-right: -4px;
	}

	/* .ss-image-link {
	rotate: 0deg;
	transition: 0.25s rotate;

	&:hover {
		rotate: 1.1deg;
		transition: 0.25s rotate;
	}
} */

	.ss-image-link:has(img) {
		transition: 0.25s transform;
		overflow: visible !important;

		img {
			border-radius: 10px !important;
			height: 100%;
			object-fit: cover;
			width: 100% !important;
			transition: 0.25s transform;
		}

		&:hover img {
			transform: scale(0.95) !important;
			transition: 0.25s transform;
		}
	}

	.homepage-stickers {
		position: absolute;
		display: flex;
		width: 180px;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
		top: 50%;
		right: 34%;
		rotate: -7deg;

		& > * {
			height: 90px !important;
			width: auto !important;
			rotate: -13.8deg;
			position: absolute;
			top: -50px;
		}

		& > :nth-child(2) {
			height: 100px !important;
			rotate: -6deg;
			top: 125px !important;
			left: 6px;
		}

		& > :nth-child(3) {
			height: 80px !important;
			rotate: 14deg;
			top: 250px !important;
			right: -140px !important;
		}
	}

	.ss-section-directory i.fa-chevron-down {
		display: none;
	}

	.customElement.staff {
		margin-bottom: 60px !important;

		.ss-im-icon-wrapper {
			min-width: 400px;

			.ss-im-icon-wrapper-inner {
				align-items: start;
				text-align: left;
				padding-right: 50px;

				.ss-icon {
					border-color: var(--blue) !important;
					background-color: var(--blue) !important;
					transition:
						0.25s zoom,
						0.25s margin-bottom,
						0.25s rotate;
				}

				&:hover .ss-icon {
					margin-bottom: 10.75px;
					zoom: 0.9;
					rotate: -7deg;
					transition:
						0.25s zoom,
						0.25s margin-bottom,
						0.25s rotate;
				}
			}

			&:has(.ss-icon) {
				margin-top: 60px;
				margin-bottom: 0 !important;
			}

			&:not(:has(.ss-icon)) {
				margin-bottom: 0 !important;
			}
		}
	}

	.customElement.staff .email,
	.customElement.staff .phone {
		position: absolute;
		top: 20px;
		right: 20px;
	}

	.customElement.staff:has(.phone) .email {
		right: 50px;
	}

	.customElement.staff .email {
		font-size: 20.4px;
		margin-top: -4px;
	}

	.customElement.project .ss-component-column {
		display: flex;
		flex-direction: column;
		justify-content: center;

		&:last-of-type img {
			border-radius: 10px !important;
			border: 2px solid var(--blue);
			width: 100% !important;
			transition: 0.25s rotate;

			&:hover {
				rotate: 1deg;
				transition: 0.25s rotate;
			}
		}
	}

	.customElement.about .ss-component-column-wrapper {
		column-gap: min(75px, 3vw);
	}

	.customElement.about .ss-column-one {
		flex-basis: 23.333%;
		min-width: fit-content;

		:has(> ul) p {
			padding-right: 30px !important;
		}

		ul {
			margin: 0;
		}

		.sectionsOnPage {
			background-color: #f2f3f3 !important;
			padding: 40px 40px !important;
			border-radius: 10px !important;
		}

		> div {
			padding: 30px 50px 30px 30px !important;
		}
	}

	.customElement.about + section:has(.stack-links-container) {
		padding-top: 60px !important;
	}

	.customElement.links .stack-links-container > li {
		cursor: pointer;
		transition: 0.25s;

		&:not(.hasSubLinks):hover {
			margin-top: -5px;
			margin-bottom: 5px;
			transition: 0.25s;
		}

		&.hasSubLinks {
			position: relative;

			> .stack-link-text-container a::after {
				content: "▼";
				margin-left: 5px;
			}

			.subLinksPopup {
				position: absolute;
				background: var(--blue);
				color: #fff;
				top: 100%;
				border-radius: 10px;
				z-index: 1;
				display: flex;
				flex-direction: column;
				gap: 15px;
				padding: 20px 30px 20px 10px;

				* {
					color: #fff !important;
					border: none;
					padding: 0px;
				}
			}
		}
	}

	.customElement.links
		.stack-links-container:has(.subLinksPopup)
		> li:not(:has(.subLinksPopup)) {
		opacity: 0.5;
		user-select: none;
		pointer-events: none;
	}

	.customElement.links
		.stack-links-container.large-graphic
		.link-graphic-container {
		height: 50px;
		width: 75px;
	}

	.customElement.links .stack-links-container i {
		font-size: 44px;
	}

	.customElement.sideBySide .ss-component-header-title {
		text-align: left !important;
		justify-content: start !important;
	}

	.customElement.sideBySide .spotlight-component-body-content {
		padding: 40px 70px !important;
	}

	.customElement.sideBySide
		.spotlight-component-body-panel.spotlight-slide-bg-color {
		padding: 0;
	}

	.customElement.sideBySide.location .spotlight-image-container::before {
		display: none;
	}

	.customElement.sideBySide.location iframe {
		border-radius: 0px;
	}

	.customElement.sideBySide.location .locationSwitch {
		width: 50%;
		position: absolute;
		bottom: 10px;
		display: flex;
		justify-content: center;

		.inner {
			display: flex;
			background: var(--blue);
			border-radius: 10px;
			padding: 5px;
			gap: 5px;
			z-index: 100;
			flex-wrap: wrap;
			justify-content: center;

			> * {
				color: #ffffff;
				margin: 0;
				padding: 4px 9px;
				border-radius: 5px;
				cursor: pointer;
				transition: 0.25s;

				&:hover {
					background: var(--red);
					transition: 0.25s;
				}
			}
		}
	}

	.customElement.sideBySide.location:has(.item:nth-of-type(2).active)
		.locationSwitch
		.inner
		> *:nth-child(1),
	.customElement.sideBySide.location:has(.item:nth-of-type(3).active)
		.locationSwitch
		.inner
		> *:nth-child(2),
	.customElement.sideBySide.location:has(.item:nth-of-type(4).active)
		.locationSwitch
		.inner
		> *:nth-child(3) {
		background: var(--red);
	}

	.ss-color .ss-accordion-btn:hover,
	.ss-color .ss-accordion-btn:focus,
	.ss-color .ss-accordion-btn.open {
		background-color: var(--red) !important;
		color: #ffffff !important;
	}

	.ss-im-icon-bar .ss-icon.ss-custom-icon.ss-circle-icon {
		padding: 18px;
		overflow: visible;
		height: 70px;
		width: 70px;
	}

	.ss-component[data-comp="feature-video"] .ss-component-content,
	.ss-component[data-comp="spotlight"] .ss-component-content {
		background-color: var(--blue) !important;
	}

	.customElement.spotlight .spotlight-image-container img {
		max-height: unset;
		object-fit: cover;
		width: 100%;
	}

	.customElement.spotlight .spotlight-nav-options .nav-circle-svg,
	.ss-component.stack_news
		.ss-slick-control-wrapper
		.slick-arrow
		.nav-circle-svg {
		border-radius: 40px;

		circle {
			fill: var(--red);
			transition: 0.25s opacity;

			&:hover {
				opacity: 0.6;
				transition: 0.25s opacity;
			}
		}
	}

	.customElement.spotlight .spotlight-nav-options .nav-arrow-svg path,
	.ss-component.stack_news
		.ss-slick-control-wrapper
		.slick-arrow
		.nav-arrow-svg
		path {
		stroke: #ffffff;
	}

	.scrollover-cover .image-rollover-container::before,
	.scrollover-cover-centered .image-rollover-container::before {
		background-color: unset !important;
		background: linear-gradient(0deg, var(--blue), transparent);
		transition: 0.25s opacity;
	}

	.spotlight-wrapper {
		display: flex;
		width: 100vw;
		left: 50%;
		transform: translateX(-50%);
		position: relative;
		background-color: var(--blue);
		min-height: 50svh;
		max-height: 100svh;
	}

	.spotlight-wrapper section {
		width: 100% !important;
		left: unset !important;
		transform: unset !important;

		.carousel-inner {
			border-radius: 0 0 40px 0;
		}

		.spotlight-slide-component:has(.spotlight-text-container),
		.spotlight-text-container {
			display: none !important;
		}

		.spotlight-nav-container {
			overflow: hidden;
			border-radius: 0 0 40px 0;
		}

		.carousel-nav-option-cycle,
		.carousel-nav-option-pause {
			position: absolute;
			bottom: -1px;
			right: -1px;
			zoom: 1.1;
			background: var(--red);
			opacity: 0.6;
			border-radius: 30px 0;
			padding: 12px 10px 10px 12px;
			transition:
				0.25s opacity,
				0.25s padding;

			&:hover,
			&:hover {
				opacity: 0.7;
				padding: 17px 15px 15px 17px;
				transition:
					0.25s opacity,
					0.25s padding;
			}

			rect,
			rect {
				fill: transparent !important;
			}
		}

		/* .spotlight-image-container img {
		object-position: top;
	} */
	}

	.spotlight-sidebar {
		display: flex;
		padding: 0 10px 20px 30px;
		flex-direction: column;
		align-items: flex-start;
		justify-content: end;
		gap: 25px;
		align-self: stretch;
		background-color: var(--blue);
		transition: 1.25s;
		width: min(600px, 50vw);

		&:not(:has(.events-container)) {
			background-image: url(https://cdn.valleystream30.com/images/logo-new.png);
			background-position: center 40%;
			background-repeat: no-repeat;
			background-size: 50%;
		}

		* {
			color: #ffffff !important;
		}

		h2 {
			width: max-content;
			font-weight: bold;
			margin-top: 30px !important;
		}

		.events-container {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 10px;
			align-self: stretch;
			height: 100%;
			overflow-y: scroll;
			background-color: var(--blue);

			& > p {
				margin-top: 15px;
			}

			.event {
				display: flex;
				align-items: center;
				gap: 15px;
				align-self: stretch;

				.event-date {
					background-color: var(--red);
					border-radius: 100px;
					min-height: 70px;
					min-width: 70px;
					display: flex;
					align-items: center;
					justify-content: center;
					text-align: center;
				}

				.event-info {
					display: flex;
					flex-direction: column;
					justify-content: center;
					width: -webkit-fill-available;

					& > * {
						margin: 0;
					}
				}
			}
		}

		.spotlight-info {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 10px;
			position: relative;

			* {
				margin: 0 !important;
			}

			i {
				margin-bottom: 5px !important;
			}

			&::before {
				content: "";
				position: absolute;
				width: 100%;
				height: 75px;
				background: linear-gradient(transparent, var(--blue));
				top: -100px;
			}
		}
	}

	.customElement.spotlightCalendar,
	section.ss-hidden-component {
		opacity: 0 !important;
		height: 0 !important;
		overflow: hidden !important;
		padding: 0 !important;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
		position: absolute !important;
		margin: 0 !important;
		margin-top: 0 !important;
		margin-bottom: 0 !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
		background: none !important;
		min-height: unset !important;
		min-width: unset !important;
		pointer-events: none !important;
		user-select: none !important;
	}

	footer::before {
		z-index: 0 !important;
	}

	p:has(> iframe[height="100%"]) {
		height: 100%;
	}

	.pageSectionsToggle,
	.qrCodeToggle,
	.copyPageLinkToggle {
		text-decoration: underline;

		i {
			color: #ffffff;
		}
	}

	.pageSections,
	.qrCode,
	.copyPageLink {
		position: absolute;
		top: 60px;
		left: 0;
		max-width: min(500px, calc(100vw - 30px));
		display: flex;
		flex-direction: column;
		gap: 10px;
		background: #ffffff;
		border-radius: 10px;
		padding: 15px;
		overflow-y: scroll;
		transition: 0.25s;
		max-height: 70svh;
		box-shadow: 0 5px 20px var(--blue);
		color: var(--blue);
		width: max-content;

		&:not(.active) {
			opacity: 0;
			margin-top: -16px;
			transition: 0.25s;
			pointer-events: none;
			user-select: none;
		}
	}

	.pageSections {
		padding: 21px 26px 11px 26px;

		ul {
			margin-left: -10px;
			margin-right: 20px;

			li {
				list-style: inherit;

				a {
					color: var(--blue);
					text-wrap: auto;
				}
			}
		}
	}

	.qrCode svg {
		height: 100px;
		width: 100px;
		fill: var(--blue) !important;
		transition: 0.25s;

		* {
			fill: var(--blue) !important;
		}

		&:hover {
			fill: var(--red) !important;
			transition: 0.25s;
		}
	}

	ul:not(.ss-accordion-list):has(li[style="text-align: center;"]),
	ol:not(.ss-accordion-list):has(li[style="text-align: center;"]) {
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0;

		li[style="text-align: center;"] {
			width: fit-content;
			list-style-position: inside;
		}
	}

	section.ss-accordion-tabs .ss-component-content {
		padding: 0;
	}

	section.ss-accordion-tabs:has(.ss-tabs-list) {
		padding-top: 30px !important;
		padding-bottom: 30px !important;

		.ss-tabs-list {
			justify-content: center;

			.ss-tab {
				text-align: center;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
	}

	.customElement.tabbedElements {
		padding-bottom: 20px !important;

		.ss-tabs {
			display: block !important;
		}

		.ss-accordion {
			display: none !important;
		}
	}

	.customElement.tabbedElement:not(.forceStyle) {
		padding: 80px 0 !important;
		margin-bottom: 0 !important;

		.ss-component-content {
			padding: 0;
		}

		&:not(.active) {
			display: none !important;
		}

		.wow {
			visibility: unset !important;
		}

		&.active:has(+ .customElement.tabbedElement.active) {
			padding-bottom: 25px !important;
		}

		&:not(.break-out) {
			padding: 5px 0 80px 0 !important;
		}
	}

	.ss-accordion-btn {
		text-align: center;
		justify-content: center;
	}

	.ss-component:not(.break-out) .ss-component-content {
		padding: 0;
	}

	.customElement.about:not(:has(video:not(.noZoom)))
		img:not(.noZoom):only-of-type:not(:hover),
	.customElement.about:not(:has(img:not(.noZoom)))
		video:not(.noZoom):only-of-type:not(:hover) {
		max-width: min(300px, 100%) !important;
		height: auto !important;
		width: min(300px, 100%) !important;
		transition: 0.5s ease-in-out;
	}

	.customElement.about:not(:has(video:not(.noZoom)))
		img:not(.noZoom):only-of-type:hover,
	.customElement.about:not(:has(img:not(.noZoom)))
		video:not(.noZoom):only-of-type:hover {
		max-width: min(500px, 100%) !important;
		width: min(500px, 100%) !important;
		height: auto !important;
		transition: 0.5s ease-in-out;
	}

	.translationOffer {
		position: fixed;
		top: 50%;
		left: calc(50% - (min(750px, 90%) / 2));
		width: min(750px, 90%);
		background: #fff;
		padding: 50px 40px;
		border-radius: 10px;
		translate: 0 -50%;
		z-index: 1050;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: 10px;
		border: 5px solid var(--blue);
		box-shadow: 10px 10px 0px var(--blue);

		h2,
		p {
			margin: 0;
		}

		.languages {
			display: flex;
			gap: 10px;
			flex-wrap: wrap;
			justify-content: center;
			margin-top: 25px;

			button {
				padding: 10px 30px;
				font-size: 13.5px;
				transition: 0.25s;
			}
		}

		.translationOfferClose {
			position: absolute;
			top: 15px;
			right: 15px;
			cursor: pointer;
			padding: 20px;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 40px;
			width: 40px;
			border-radius: 100%;
			transition: 0.25s;

			&:hover {
				background: var(--blue);
				color: #ffffff;
				transition: 0.25s;
			}
		}
	}

	.pageSection:first-of-type .ss-component-header-title,
	.pageSection:first-of-type:not(:has(.ss-component-header-title))
		.ss-editor-content
		*:not(.forceStyle) {
		font-size: clamp(17px, 5vw, 30px) !important;

		a {
			font-weight: 500;
			cursor: pointer;
			color: white;
		}
	}

	.pageSection:not(:first-of-type) .ss-component-header-title,
	.pageSection:not(:first-of-type):not(:has(.ss-component-header-title))
		.ss-editor-content
		*:not(.forceStyle) {
		font-size: clamp(16px, 4.5vw, 26px) !important;

		a {
			font-weight: 500;
			cursor: pointer;
			color: white;
		}
	}

	.btn-lg,
	.btn-default {
		padding: 15px 30px !important;
		zoom: 0.7;
		border-radius: 5px !important;

		&:hover,
		&:focus {
			padding: 15px 40px 15px 20px !important;
		}
	}

	.modal-backdrop {
		z-index: 1049;
	}

	.uwy:not(.forceStyle) {
		position: fixed !important;

		.userway_buttons_wrapper {
			bottom: 15px !important;
			top: unset !important;
			transform: unset !important;
			zoom: 1.3;
		}

		&.userway_p1 .userway_buttons_wrapper {
			right: 15px !important;
			left: unset !important;
		}

		&.userway_p7 .userway_buttons_wrapper {
			left: 15px !important;
			right: unset !important;
		}
	}

	.ss-component-content:not(.background-break-out) {
		max-width: 100% !important;
	}

	.customElement.aboutUs .ss-component-content {
		padding: 20px 80px 0 80px;
	}

	.spotlight-image-container img {
		object-fit: cover !important;
	}

	.ss-component.ss-has-bg.pageSection::before {
		left: -5px;
		width: calc(100vw + 5px);
		height: 101%;
	}

	iframe,
	object,
	embed {
		border-radius: 10px;
	}

	#userwayAccessibilityIcon {
		background: var(--blue) !important;

		&:focus-within {
			outline-color: var(--blue) !important;
		}
	}

	#skiptocontent > *,
	.well {
		float: none !important;
	}

	.search-site-button {
		display: flex;
		margin: auto;
	}

	#results .title {
		color: var(--red);
	}

	#results .url {
		color: var(--blue);
	}

	.age-calculator {
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		background-color: var(--blue);
		border-radius: 10px;
		width: max-content;

		* {
			padding: 10px 20px;
			margin: 0 !important;
			border: none;
			color: #ffffff;
			min-width: 90px;
			background-color: transparent;
			-moz-appearance: textfield;
			appearance: textfield;

			&:last-child {
				background-color: var(--red);
				border-radius: 0 10px 10px 0;
			}

			&::-webkit-inner-spin-button,
			&::-webkit-outer-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
		}
	}

	.school-spotlight-container {
		display: flex;
		width: 100vw;
		position: relative;
		left: 50%;
		transform: translateX(-50%);

		& > * {
			width: 100vw !important;
			left: unset !important;
			transform: unset !important;

			&.ss-icon-matrix {
				width: 30vw !important;
				padding: 0 6rem;

				*:has(> .ss-component-content) {
					height: 100%;

					.ss-component-column-wrapper {
						height: 100%;
						align-items: center;
					}
				}
			}
		}

		&:not(:has(.spotlight-container)) > .ss-icon-matrix {
			width: 20vw !important;

			.ss-im-icons-list {
				display: flex;
				flex-direction: column;
			}

			.ss-component-column-wrapper {
				align-items: flex-start;
			}

			.ss-component-content {
				padding: 0 20px !important;
			}
		}

		.ss-im-icons-list {
			display: grid;
			grid-template-columns: repeat(2, 50%);

			.ss-im-icon-wrapper {
				width: 100%;
			}

			&:nth-child(odd) .ss-im-icon-wrapper:last-child {
				grid-column: span 1 / -1;
			}
		}

		.ss-component-content,
		.spotlight-container,
		.spotlight-carousel-container,
		.carousel-inner,
		.carousel-inner .item,
		.spotlight-slide {
			height: 100%;
		}
	}

	.latestNewsletter {
		background: var(--blue);
		border-radius: 17.5px;
		position: relative;

		&::after {
			content: "Latest";
			background: var(--blue);
			color: #ffffff;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 6px 6px 8px 6px;
			border-radius: 0 0 25px 25px;
		}
	}

	.stack-links-container {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		row-gap: 25px;
		width: 100%;

		> * {
			width: 100%;
			border-top: 0.5px solid #555 !important;
			border-bottom: 0.5px solid gray !important;
			padding: 15px 0;
			min-width: 200px;
		}

		i {
			color: var(--blue) !important;
		}
	}

	.ss-close-modal {
		z-index: 10;
	}

	.map,
	.street-view {
		transition: 0.25s opacity;

		&:not(.active) {
			opacity: 0;
			user-select: none;
			pointer-events: none;
			transition: 0.25s opacity;
		}
	}

	.spotlight-nav-container:not(:has(.spotlight-nav-options > *)) {
		display: none;
	}

	.feedback {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1048;
		background: rgba(0, 0, 0, 0.5);
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100vw;
		height: 100svh;

		* {
			margin: 0;
			padding: 0;
		}

		form {
			background: #ffffff;
			color: var(--blue);
			transform: translateX(-50%) translateY(-50%);
			padding: 30px;
			border-radius: 10px;
			display: flex;
			flex-direction: column;
			gap: 15px;
			align-items: stretch;
			top: 50%;
			left: 50%;
			position: absolute;
			width: max-content;

			h3 {
				padding-right: 10px !important;
			}

			textarea {
				outline: none;
				border: none;
				border-radius: 5px;
				min-width: 50vw;
				min-height: 20svh;
			}
		}

		&:not(.active) {
			opacity: 0;
			user-select: none;
			pointer-events: none;
		}
	}

	.ss-icon-matrix .ss-im-icon-wrapper-inner {
		border-color: transparent !important;
		zoom: 0.9;

		&::before {
			border: 2px solid var(--blue) !important;
			border-radius: 10px;
		}

		&:has(> i) h3.ss-icon-title {
			padding-bottom: 10px;
		}

		&:has(> i):has(h3.ss-icon-title) .ss-icon-text {
			padding: 7px;
		}

		a {
			cursor: pointer;
		}
	}

	.ss-icon-title {
		font-size: 16px !important;
		font-weight: 500 !important;
	}

	.ss-icon-text {
		font-size: 14px !important;
	}

	div:has(> nav .breadcrumb) {
		padding: 0;
	}

	footer .school-footer-seven-name {
		font-size: 16px !important;
	}

	footer .school-footer-seven-address-info,
	footer .school-footer-seven-contact-info,
	footer .school-footer-seven-contact-label,
	footer .school-footer-seven-general-info a.school-footer-seven-contact-link,
	footer .school-footer-seven-custom-links a,
	footer .school-footer-seven-site-links a.site-link {
		font-size: 14px !important;
	}

	footer .school-footer-copyright-name,
	footer .school-footer-disclaimer-text {
		font-size: 11px !important;
	}

	footer .school-footer-seven-social-info i {
		font-size: 16px !important;
	}

	.admin-btn1 em {
		font-size: 15px !important;
	}

	.ss-tab {
		font-size: 16px !important;
		padding: 10px 16px 10px !important;
		min-height: 50px !important;
		max-height: 50px !important;
	}

	.ss-accordion-btn {
		font-size: 16px !important;
	}

	.ss-tabs-list::before {
		background-image: repeating-linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0),
			rgba(0, 0, 0, 0) 49px,
			rgba(0, 0, 0, 0.2) 49px,
			rgba(0, 0, 0, 0.2) 50px
		) !important;
	}

	.ss-site-header {
		--ss-nav-font-size-desktop: 12px !important;
		--ss-menu-font-size: 12px !important;
		--ss-site-name-font-size-desktop: 24px !important;
		--ss-site-name-font-size-mobile: 15px !important;
		--ss-tagline-font-size-desktop: 12px !important;
		--ss-tagline-font-size-mobile: 10px !important;
		--ss-utility-font-size: 10px !important;
		--ss-default-font-size: 14px !important;
	}

	.h1,
	h1 {
		font-size: 28px;
	}

	.h2,
	h2 {
		font-size: 22px;
	}

	.h3,
	h3 {
		font-size: 20px;
	}

	.h4,
	h4 {
		font-size: 18px;
	}

	.h5,
	h5 {
		font-size: 16px;
	}

	.h6,
	h6 {
		font-size: 14px;
	}

	.ss-component-header .ss-component-header-title {
		font-size: 38px !important;
	}

	.container
		.news-feed-feature-rows-container
		h2:not(.ss-component-header-title),
	.container
		.news-feed-feature-rows-container
		h3:not(.ss-component-header-title),
	.news-feed-feature-rows-container h4,
	.news-feed-psq h2,
	.news-feed-psq h3,
	.news-feed-psq h4 {
		font-size: 22px !important;
	}

	.ss-component.stack_news
		.news-feed-feature-columns
		.news-feed-feature-rows-container
		.ss-articles-container
		.stack-three-two-title,
	.ss-component.stack_news
		.news-feed-feature-rows
		.news-feed-feature-rows-container
		.ss-articles-container
		.stack-three-two-title {
		font-size: 20px !important;
	}

	.ss-site-header-page-links .dropdown-menu {
		width: 300px !important;
		padding: 10px 0 !important;
	}

	.ss-site-header-main-nav
		.ss-site-header-main-links-container
		li
		> ul.dropdown-menu,
	.ss-site-header-main-nav
		.ss-site-header-page-links
		li.top-nav
		> ul.dropdown-menu {
		border-radius: 0 0 10px 10px !important;

		ul.dropdown-menu {
			border-radius: 10px !important;
		}
	}

	.ss-component[data-comp="document"] + .ss-component[data-comp="document"] {
		padding-top: 0 !important;
	}

	.stack-link-text-container a {
		font-size: 18px !important;
	}

	.ss-im-solid-overlap-boxes .ss-icon.ss-small-icon,
	.ss-im-outline-overlap-boxes .ss-icon.ss-small-icon {
		width: 70px !important;
		height: 70px !important;
	}

	.ss-im-solid-overlap-boxes .ss-icon.ss-circle-icon,
	.ss-im-outline-overlap-boxes .ss-icon.ss-circle-icon {
		font-size: 30px !important;
	}

	.stack-link-text-container {
		gap: 2px !important;
	}

	.ss-lightbox-modal-content:not(.ss-lightbox-fullscreen),
	.alert-badge-container {
		zoom: 0.8;
	}

	.ss-im-icon-wrapper.ss-flex-6:has(:nth-child(7)) {
		max-width: 150px;
	}

	.ss-im-icon-wrapper-inner {
		padding: 10px;
	}

	.ss-component:not(.ss-no-pad):not(.ss-im-icon-bar) {
		padding: 40px 0;
	}

	.ss-document-download {
		zoom: 0.7;
	}

	.ss-document-list .ss-document-title {
		max-width: unset !important;
	}

	.form-control {
		padding: 4px 8px;
		height: 30px;
	}

	.ss-document-search-row .col-sm-12 {
		gap: 10px;
	}

	.ss-component.break-out:not(:has(.stack_off)) {
		left: calc(50% - 1px);
		transform: translateX(calc(-50% + 1px));
	}
}
